<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Quiz Online Regression Suite">
    <listeners>
        <listener class-name="common.TestListener"/>
    </listeners>

    <test name="Home Tests">
        <classes>
            <class name="tests.HomeTests"/>
        </classes>
    </test>

    <test name="Login Functional Tests">
        <classes>
            <class name="tests.LoginTests"/>
        </classes>
    </test>

    <test name="Login UI Tests">
        <classes>
            <class name="tests.LoginUITests"/>
        </classes>
    </test>

    <test name="Thuc Hien De Thi Tests">
        <classes>
            <class name="tests.TestThucHienDeThi"/>
        </classes>
    </test>

    <test name="Result Tests">
        <classes>
            <class name="tests.ResultTests"/>
        </classes>
    </test>

</suite>